* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: sans-serif;
    height: 100vh;
    width: 100wh;
    background: #053B50;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.page {
    width: 100vw;
    height: 100vh;
}

.page1 {
    width: 100vw;
    height: 100vh;

}

.page2 {
    width: 100vw;
    height: 100vh;
}

.page3 {
    width: 100vw;
    height: 100vh;

}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #176B87;

}

.navbar a {
    color: #EEEEEE;
}

.logo {
    font-size: 30px;
    padding-left: 10%;
    font-weight: 700;
}

.links {
    display: flex;
    gap: 1.5rem;
    padding-right: 10%;
}

.links a:hover {
    color: #93B1A6;
}

.sec {
    align-items: center;
}

.img {
    padding-top: 3rem;
    padding-left: 36%;
}

img {
    width: 400px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.8);
}

.img:hover {
    scale: 1.1;
}

.content {
    align-items: center;
    justify-content: center;
    padding-top: 4rem;

}

.content h1 {
    padding-left: 39%;
    font-size: 32px;
    font-weight: 600;
    color: #EEEEEE;
}

.content h2 {
    padding-left: 40%;
    font-size: 18px;
    padding-top: 10px;
    color: #EEEEEE;
}

.content p {
    padding-left: 27%;
    padding-right: 27%;
    padding-top: 10px;
    text-align: center;
    color: #EEEEEE;

}

.btn_container {
    text-align: center;
    padding-top: 1rem;

}

.btn_container .btn {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.8);
}

.btn_container .btn {
    font-size: 20px;
    color: #CEDEBD;
}

.btn a:hover {
    background-color: #000;
    color: #fff;
}


.about_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.about_container h1 {
    font-size: 32px;
    font-weight: 600;
    padding-left: 6rem;
    color: #CEDEBD;
}

.heading {
    position: absolute;
    top: 60px;
    left: 0;
}

.heading h3 {
    padding-top: 1rem;
    padding-right: 40rem;
    padding-left: 6rem;
    font-size: 19px;
    font-weight: 700;
    color: #EEEEEE;
}

.heading p {
    padding-top: 1rem;
    font-size: 17px;
    line-height: 1.;
    padding-right: 40rem;
    font-weight: 500;
    padding-left: 6rem;
    color: #EEEEEE;
}

.image_container {
    position: absolute;
    right: 0;
    padding-right: 6rem;
    padding-top: 3rem;
}

.image_container .image {
    width: fit-content;
}

.btn_container2 {
    position: relative;
    padding-left: 8rem;
    padding-top: 3rem;
}

.btn_container2 .btn2 {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.8);

}

.btn_container2 .btn2 {
    font-size: 20px;
    color: black;
}

.btn2 a:hover {
    background-color: #000;
    color: #fff;
}

.social {
    display: inline;
    width: 10px;
    height: 10px;
    top: 8rem;
    padding-left: 5.1rem;
}

.fa-brands {
    padding-top: 2rem;
    padding-left: 5rem;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
}

.fa-twitter-square {
    padding-left: 2vw;
}

.fa-instagram-square {
    padding-left: 2vw;
}

.fa-facebook-square {
    padding-left: 2vw;
}

.features {
    padding-top: 28rem;
    color: #EEEEEE;
}

.heading2 {
    position: absolute;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 12rem;

}

.category {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;



}

.category .box {
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-right: 2rem;
    text-align: center;
    font-weight: 500;

}

.category .box .i {
    align-items: center;
    border-radius: 50%;
    font-size: 1cm;


}

.box p {
    padding-top: 1rem;
}

.product_container {
    display: flex;
    color: #EEEEEE;
}
.heading3 h1{
    color: #CEDEBD;
    text-align: center;
    
}
.product_container .product{
    margin-bottom: -4rem ;
    justify-content: space-between;
    padding-left: 2.5rem; 
    padding-top: 2.5rem;
    padding-right: 2rem;
}
.product img{
    height: 300px;
    width: 300px;
}
.product h3 {
    text-align: center;
}
.product p{
    text-align: center;
}

.review_container p {
    color: #EEEEEE;
    padding-top: 1rem;
    padding-right: 10rem;
    padding-left: 10rem;
}

.review_container {
    color: #CEDEBD;
    margin: 40px;
    overflow: hidden;
    padding: 0 20px;
    text-align: center;

}

.review_customers {
    display: flex;
    color: #EEEEEE;
    padding-top: 2rem;
    bottom: 0%;

}
/* .customer{
    flex: 33%;
    box-sizing: border-box;
    padding: 15px;
} */
.review_customers .customer{
    margin-bottom: -4rem ;
    justify-content: space-between;
    padding: 1rem;
    background: #176B87;
    padding-left: 1rem;
    

}
.customer img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}



.user_review {
    color: #EEEEEE;
    padding-top: 1rem;
}

.fa-quote-left {
    padding-top: 1rem;
}

.user_review h3 {
    padding-top: 2rem;
}